*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  border: 1px solid black
}

.box {
  border: 2px solid black;
  border-radius: 5px;
  


}
#pizza-title {
  background-color: #ff3860;
  text-align: center;
  border-radius: 20px;
  height: 55px;
  font-style: oblique;

}
#pizza-info {
  font-weight:700;
}
.title.is-3 {
  text-align: center;
  border-radius: 20px;
  background-color: #78D37F;
  height: 40px;
}
.title.is-4 { /*Categories for menu*/
  border-radius: 20px;
  background-color: #78D37F;
  height: 40px;
  padding: 5px;
  width: 200px;
  
}

  

#box-style {
  width: 600px;
}

.column.is-4 {
  justify-content: space-around;
}

.pizza-pic {
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  border-color: black;
  padding:0px;
  margin: 0px;
  
  
}
.pizza.is-flex-direction-row {
  justify-content: space-between;
  
  margin: 0px;
  padding: 10px;
  border: 10px;
  text-align: left;
  flex-wrap: wrap;
 
}

#carousel-demo div img{
  height: 350px;
  width: fit-content;
}